<figure>
    <svg class="w-6 h-6 text-heading mb-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V8a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1Zm0 0v2a4 4 0 0 1-4 4H5m14-6V8a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1Zm0 0v2a4 4 0 0 1-4 4h-1"/>
    </svg>
    <blockquote class="!m-0">
        <p class="text-md italic font-semibold tracking-tight text-heading">{{ field.value }}</p>
    </blockquote>
    <figcaption class="flex items-center justify-center mt-1 space-x-3 rtl:space-x-reverse">
        {% if field.figure %} <img class="w-6 h-6 rounded-full" src="{{ field.figure }}"/> {% endif %}
        <div class="flex items-center divide-x rtl:divide-x-reverse divide-default">
            {% if field.author %}<cite class="pe-3 font-medium text-heading">{{ field.author }}</cite>{% endif %}
            {% if field.reference %}<cite class="ps-3 text-sm text-body">{{ field.reference }}</cite>{% endif %}
        </div>
    </figcaption>
</figure>