{#{% if field.safe %}#}
{#    {% if field.safe == true %} {{ field.value | safe }} {% else %} {{ field.value }} {% endif %}#}
{#{% else %}#}
{#    {{ field.value }}#}
{#{% endif %}#}

{{ field.value }}